/*start faq section styles */
.title-faq-section span.faq-title {
    position: relative;
    display: inline-block;
    margin: 50px;
    color: purple;
}

.title-faq-section span.faq-title::before {
    content: '';
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    right: -70px;
    top: 12px;
}

.title-faq-section span.faq-title::after {
    content: '';
    width: 40px;
    height: 3px;
    background-color: orange;
    position: absolute;
    left: -70px;
    top: 12px;
}

.faq-section-wrapper {
    background-image: url(../img/back6.jpg);
    background-position: center;
    text-align: right;
}

.faq-right-side {
    box-shadow: 1px 5px 15px 2px rgba(68, 102, 242, .1);
    background-color: rgba(255, 255, 255, 0.479);
    padding: 25px;
    margin: 86px;
}

.faq-right-side h6 {
    font-size: 16px;
    color: rgb(65, 47, 47);
}

.faq-right-side h6 i {
    font-size: 32px;
    margin-left: 16px;
    vertical-align: -5px;
    color: purple;
    font-weight: bold;
}

.faq-right-side p {
    font-size: 14px;
    margin: 10px 54px 0 0;
    color: rgb(245, 237, 237);
    background-color: rgba(0, 0, 0, 0.096);
    border-radius: 10px;
}

.faq-left-side {
    margin-top: 85px;
}
.faq-left-side .tabs {
    background-color: #5e4657;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 4px 4px -2px rgba(68, 102, 242, .5);
    margin-bottom: .5px;
}

.faq-left-side .tab {
    overflow: hidden;
}
.faq-section-wrapper .faq-left-side .tab {
    color: #e2c4da;
    background-color: purple;
    transition: all .4s ease-in;
    border: 1px solid white;
}
.faq-left-side .tab-label {
    padding: 16px;
    width: 100px;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
.faq-left-side .tab:hover {
    background-color:rgb(65, 16, 65);
}
.faq-left-side .tab-label::after {
    content: '\276f';
    text-align: center;
    float: left;
    padding-top: 2px;
    margin-left: 5px;
    transition: all .5s linear;
}
.faq-left-side .tab-content {
    height: 0;
    color:rgba(36, 9, 9, 0.822);
    background-color: rgba(255, 255, 255, 0.89);
    transition: all 1s;
}
.faq-left-side input:checked ~ .tab-content {
    height: 111px;
    padding: 10px;
    overflow-y: scroll;
}

.faq-left-side input:checked + .tab-label::after {
    transform: rotate(-90deg);
}
.faq-left-side input {
    display: none;
}